/* *{} all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 900;
  padding-top: 50px;
}

.content {
  padding-top: 50px;
}

.content label {
  font-weight: bold;
  font-size: 25px;
}
